@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.container {
    width: 1400px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 44px;

}



.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        background: #C4C4C4;
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
            }
        }
    }
}

.white {
    background: #EBEBEB;
}

.black {
    background: #2B2B2B;
}

.btn__mode1 {
    width: 160px;
    height: 40px;
    border: none;
    background: black;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 24px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;

}

.btn__mode2 {
    width: 160px;
    height: 40px;
    align-items: center;
    border: none;
    background: black;
    display: flex;
    justify-content: end;
    font-size: 24px;
    border-radius: 10px;
    color: azure;
    cursor: pointer;

}

.color {
    color: #000;
}

.colo2 {
    color: #fff;
}